$white: #fff /*--white #fff--*/
$blue: #0000ff/*--blue--*/
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic)
* 
  box-sizing: border-box

body 
  margin: 0
  font-family: 'Open Sans', sans-serif

.row:before,
.row:after 
    content: " " /* 1 */
    display: table /* 2 */

.row:after 
    clear: both

header 
  background: -webkit-linear-gradient(top, rgba(2a, 2d, 48, 0.6) 100%, rgb(2a, 2d, 48) 100%), url(https://images.pexels.com/photos/207589/pexels-photo-207589.jpeg?)
  height: 100% 
  background-size: cover 
  background-position: center 
  overflow: hidden 
  position: relative
  
  > .container
    max-width: 1200px
    margin: 6vh auto

    .log1
      font-family: 'Raleway:900', sans-serif
      text-transform: uppercase
      font-size: 40px
      position: relative
      opacity: 0.2
      font-weight: bold
      float: left

    .log2
      font-family: 'Raleway', sans-serif
      text-transform: uppercase
      font-size: 37px
      position: relative
      color: $white 
      float: left

  > nav ul
    float: right
    margin-top: 20px
    padding: 0
    list-style-type: none
    opacity: 1
    
    > li
      margin: 0
      padding: 0
      display: inline-block /*--lista ul jest w jednej lini menu --*/

      > a 
        margin: 0
        display: block
        color: $white
        padding: 0 20px
        text-decoration: none
        text-transform: uppercase /*-- wielkie litery--*/

.slogan
  text-align: center
  margin: 0 130px
  color: $white
  font-weight: bold 

  h1
    text-transform: uppercase
    font-size: 65px
  p
    font-size: 22px
    margin-bottom: 78px

  button
    background-color: #f44336 /* Red */
    border: none
    color: white
    padding: 15px 32px
    text-align: center
    text-decoration: none
    display: inline-block
    font-size: 16px
    margin-bottom: 18vh


[class*="col-"] 
  float: left
  min-height: 1px
  padding: 8px
/*---width columns---*/
.col-1
  width: 8.33%
.col-2
  width: 16.66%
.col-3
  width: 25%
.col-4
  width: 33.33%
.col-5
  width: 41.66%
.col-6
  width: 50%
.col-7
  width: 58.33%
.col-8
  width: 66.66%
.col-9
  width: 75%
.col-10
  width: 83.33%
.col-11
  width: 91.66%
.col-12
  width: 100%

/*---margin columns---*/
.col-offset-0 
  margin-left: 0
.col-offset-1
  margin-left: 8.33%
.col-offset-2
  margin-left: 16.66%
.col-offset-3 
  margin-left: 25%
.col-offset-4 
  margin-left: 33.33%
.col-offset-5 
  margin-left: 41.66%
.col-offset-6 
  margin-left: 50%
.col-offset-7
  margin-left: 58.33%
.col-offset-8 
  margin-left: 66.66%
.col-offset-9 
  margin-left: 75%
.col-offset-10 
  margin-left: 83.33%
.col-offset-11 
  margin-left: 91.66%

.icon
  text-align: center
  margin: 0 auto
  margin-top: 15vh
  max-width: 1200px

  i
    font-size: 60px
    
  h1
    text-transform: uppercase /*-- wielkie litery--*/

.gallery 
  margin: 10vh 0

  [class^="col-"]
    position: relative
    margin: 0 
    padding: 0

  img
    display: block /*------------------ brak odstępów między obrazkami ----------------*/
    width: 100%
    padding: 1px
    margin: 0
 

.team
  max-width: 1200px
  margin: auto
  margin-top: 85vh

  img
    margin: 0
    padding: 0
    width: 240px
    height: auto
    display: inline-block

  h2
    font-weight: normal
    margin: 14px 0 2px 0 

  p
    margin: 0
    text-transform: uppercase
    color: #FF0000

  .text
    p
      margin: 4vh 0
      text-transform: none
      color: #808080

    i
      font-size: 25px
      padding: 14px
      width: 50px
      height: 50px
      border: 1px solid #C0C0C0
      opacity: 0.3

.image
  max-width: 1200px
  margin-top: 7vh
  float: left
  .col-12
    margin: 0
    padding: 0

  .opis
    width: 100%
    height: 400px
    background-color: khaki
    position: absolute
    float: right
    text-align: center


    img
      height: 400px
      width: auto
      float: left

    p
      padding-top: 20vh

.start
  margin-top: 450px
  text-align: center

  h1
    font-size: 36px
    margin: 0
    margin-top: 60px

  h3
    text-transform: uppercase
    padding: 0
    margin: 0
    margin-top: 20px

  button
    background-color: #f44336 /* Red */
    border: none
    color: white
    padding: 15px 32px
    text-align: center
    text-decoration: none
    display: inline-block
    font-size: 16px
    margin-top: 60px

.contact
  margin-top: 110vh
  background-color: rgb(42, 45, 72)
  height: 360px

  .col-4 
    text-align: center
    background-color: rgb(42, 45, 72)

    >h1
      margin-top: 10vh
      text-transform: uppercase
      color: $white
      font-size: 26px
      font-weight: 600


    >p
      color: $white
      font-size: 24px
      opacity: 0.3
      margin: 0
  
    >i
      color: $white
      font-size: 24px
      padding: 16px
      width: 60px
      height: 60px
      border: 3px solid #C0C0C0

footer div
  background-color: rgb(31, 34, 54)
  text-align: center
  color: $white
  font-weight: 600

  >p
    opacity: 0.3

  >i
    color: red
    margin: 0 10px
/*---------------^^^^^^^^^^^----------------*/

/*# sourceMappingURL=style.css.map */